.unity-progress-bar__progress {
    background-color: rgb(255, 0, 0);
    -unity-slice-left: 20px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.unity-progress-bar__background {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-size: 3px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
