.toolSection {
}

.panel {
    opacity: 1;
    background-color: rgba(48, 48, 48, 0.84);
    -unity-slice-right: 0;
    background-image: none;
}

.hide {
    display: none;
}

.selector {
    width: 70px;
    height: 70px;
    transition-property: scale;
    transition-duration: 0.7s;
}
